*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    padding: 0 100px 0 100px;
}

nav  ul,
.main-info-section,
.work-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body{
    background-color: #252627;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
}

.container_navbar{
    background-color: #181818;  
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1{
    color: #707070;
}

li{
    list-style: none;
    /*margin-left: 30px;*/
    text-align: center;
}

a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section{
    height: calc(100vh - 81.6px);
}

.text{
    margin-top: 120px;
}

.text h1{
    color: #fff;
    font-size: 3rem;
    cursor: context-menu
}

.text span{
    display: inline-block;
}

span:hover{
    color: #48cFAD;
    transition: all .5s;
}

span.name{
    color: #ED5565;
}

span.m-left{
    margin-left: -10px;
}

.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a{
    padding: 12px  25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}


.text a:hover{
    color: #fff;
}

.text a::before{
    content: '';
    background-color: #ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before{
    height: 100%;
}

.profile-image img{
    width: 350px;  
    margin-top: 50px;
    border-radius: 150px;
}


.des-text{
    width: 1000px;
    margin-top: 80px;
    margin-left: 175px;
    /* border: 2px solid white ;   */
}

.des-text p{
    color: white ;
    font-size: 25px;
    text-align: justify;
}

.des-img img{
    margin-top: 35px;
    margin-left: 15px;
    width: 650px;
    height: 450px;
    display: inline-block;
}

.proyects{
    width: 100%;
    height: 100vh;
}

.proyects .enlace a{
    position: relative;
    margin-left: 860px;
    font-size: 20px;
    color: #fff;
}

.proyects .enlace .eps5{
    margin-left: 290px;
}

.proyects .enlace .receta{
    margin-left: 885px;
}

.proyects .enlace .kids{
    margin-left: 925px;
}

.proyects .enlace .moto{
    margin-left: 885px;
}


.proyects div{
    width: 20px;
    height: 20px;
    margin-top: 30px;
    position: relative;
}

.proyects div:hover{
    opacity: 1;
}


.proyects .ps5{
    width: 450px;
    height: 570px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 50px;
    background-image: url("../img/ps5.png");
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
}

.proyects .Recetario{
    width: 500px;
    height: 130px;
    margin-top: -600px;
    margin-left: 700px;
    border-radius: 50px;
    background-image: url("../img/rp.png");
    opacity: 0.5;
    background-size: cover;


}

.proyects .KND{
    width: 500px;
    height: 130px;
    margin-left: 700px;
    border-radius: 50px;
    background-image: url("../img/kndp.png");
    opacity: 0.5;
    background-size: cover;


}

.proyects .motos{
    width: 500px;
    height: 130px;
    margin-left: 700px;
    border-radius: 50px;
    background-image: url("../img/mp.png");
    opacity: 0.5;
    background-size: cover;
}

@media(max-width: 600px){
    .container_navbar header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }

    #letra{
        margin-right: 35px;
    }

    #nombre{
        font-size: 40px;
    }

    #coma{
        display: none;
    }

    #toma{
        font-size: 28px;
    }

    .profile-image  img{
        width: 150px;
    }

    .description .des-text{
        width: 275px;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
    }

    .description .des-text p{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .des-img{
        display: inline-block;
    }

    .des-img img{
        width: 275px;
        height: 200px;

    }

   
}


